:root {
    --hpos: 95%;
    --cpos: 80%;
    --jpos: 70%;
    --pypos: 60%;
    --sqlpos: 40%;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Pixeboy';
    src: url(assets/font/Pixeboy.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(48,45,45);
}

#container {
    font-family: 'Pixeboy';
    height: 100%;
    justify-content: center;
    width: 100%;
}

header {
    top: 0;
    width: 100%;
    background-color: rgb(32,28,28);
    position: fixed;
    z-index: 9;
}

.navbar {
    font-family: 'Pixeboy';
    background-color: rgb(32,28,28);
    color: #E11D74;
}

#listofnavbar {
    display: flex;
    flex-direction: row;
}

.navbar li {
    list-style: none;
    margin: 15px 3px;
}


.navbar li a {
    background-color: rgb(48,45,45);
    color: #E11D74;
    padding: 10px 35px;
    text-decoration: none;
    border-left: 3px solid transparent;
    box-shadow: -2px 0 0 0 black,
        2px 0 0 0 black,
        0 -2px 0 0 black,
        0 -2px 0 0 black;
    border-right: 4px solid rgb(32,28,28);
    border-top: 4px solid rgb(69,67,67);
    border-bottom: 4px solid rgb(32,28,28);
}

.navbar a:hover {
    background-color: rgb(29,25,25);
    color: #f80303;
    text-shadow: 1px 1px 20px #E11D74;
}

.navbar a:active {
    border-left: 3px solid white;
    background-color: rgb(23,20,20);
    border-right: 4px solid rgb(29,25,25);
    border-top: 4px solid rgb(29,25,25);
    border-bottom: 4px solid rgb(29,25,25);
}

#main {
    max-width: 1200px;
    margin: auto;
}

#wrapper {
    width: 100%;
}

#home {
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: #E11D74;
    border: 2px solid;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    padding: 16px;
    border-right: 10px solid rgb(23,20,20);
    border-top: 10px solid rgb(69,67,67);
    border-bottom: 10px solid rgb(23,20,20);
    box-shadow: -6px 0 0 0 black,
    6px 0 0 0 black,
    0 -6px 0 0 black,
    0 6px 0 0 black;
}

#imagebox {
    min-width: 300px;
    padding: 10px;
}

#imagebox img {
    max-width: 100%;
    min-width: 100%;
    border: 4px solid black;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 6px rgb(32,28,28);
    image-rendering: crisp-edges;
}

#boxesWrapper {
    color: #E11D74;
    font-size: 1.5em;
    margin-top: 15px;
    background-color: #1f1f1f;
    border-left: 5px solid rgb(23,20,20);
    border-right: 5px solid rgb(69,67,67);
    border-top: 5px solid rgb(23,20,20);
    border-bottom: 5px solid rgb(69,67,67);
}

#namebox {
    padding-top: 10px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}


#feildbox {
    font-size: 0.8em;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
}

#descriptbox {
    line-height: 18px;
    padding: 5px;
    font-size: 0.8em;
    font-style: oblique ;
}

.socialMediaButtonsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#boxesWrapper a {
    text-decoration: none;
    margin: 20px 10px 5px;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-left: 3px solid rgb(69,67,67);
    border-top: 3px solid rgb(48,45,45);
    border-right: 3px solid rgb(23,20,20);
    border-bottom: 3px solid rgb(69,67,67);
}

#boxesWrapper a img {
    width: 100%;
    height: auto;
}

#boxesWrapper a:hover {
    background-color: rgb(29,25,25);
}

#boxesWrapper a:active {
    border-left: 3px solid #E11D74;
    background-color: rgb(23,20,20);
    border-right: 3px solid rgb(29,25,25);
    border-top: 3px solid rgb(29,25,25);
    border-bottom: 3px solid #E11D74;
}


.myintro {
    color: #E11D74;
    border: 2px solid;
    margin: auto;
    align-items: center;
    margin-top: 50px;
    padding: 16px;
    border-left: 2px solid #E11D74;
    border-right: 10px solid rgb(23,20,20);
    border-top: 10px solid rgb(69,67,67);
    border-bottom: 10px solid rgb(23, 20, 20);
    box-shadow: -6px 0 0 0 black,
    6px 0 0 0 black,
    0 -6px 0 0 black,
    0 6px 0 0 black;
}

#myimpskills {
    font-size: 3em;
    padding: 2%;
    background-color: #1f1f1f;
    border-left: 5px solid rgb(23,20,20);
    border-right: 5px solid rgb(69,67,67);
    border-top: 5px solid rgb(23,20,20);
    border-bottom: 5px solid rgb(69,67,67);
}

#meters {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
}

.skillmeter {
    width: calc(100% - 10px);
    padding: 10px 0px;
    margin-top: 20px;
    background-color: #1f1f1f;
    border-left: 5px solid rgb(23,20,20);
    border-right: 5px solid rgb(69,67,67);
    border-top: 5px solid rgb(23,20,20);
    border-bottom: 5px solid rgb(69,67,67);
}

.meterhead {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: large;
    padding-bottom: 0.6em;
}

.meterscale {
    padding: 1em;
    justify-content: center;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    background-color: #E11D74;
}

.skillmeter:nth-child(1) .meterscale {
    background-image: conic-gradient(#E11D74 0%, #E11D74 var(--hpos), rgb(48,45,45) 0%);
}

.skillmeter:nth-child(2) .meterscale {
    background-image: conic-gradient(#E11D74 0%, #E11D74 var(--cpos), rgb(48,45,45) 0%);
}

.skillmeter:nth-child(3) .meterscale {
    background-image: conic-gradient(#E11D74 0%, #E11D74 var(--jpos), rgb(48,45,45) 0%);
}

.skillmeter:nth-child(4) .meterscale {
    background-image: conic-gradient(#E11D74 0%, #E11D74 var(--pypos), rgb(48,45,45) 0%);
}

.skillmeter:nth-child(5) .meterscale {
    background-image: conic-gradient(#E11D74 0%, #E11D74 var(--sqlpos), rgb(48,45,45) 0%);
}

.metercover {
    border-radius: 50%;
    background-color: #1f1f1f;
    width: 100%;
    height: 100%;
    z-index: 7;
}

.metertext {
    padding-top: 1.3em;
    font-size: x-large;
    color: antiquewhite;
}

.progressbar {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    width: 100%;
}

.progressbox {
    flex: 1;
    width: 100%;
    max-width: 25px;
    height: 25px;
    background-color: rgb(48,45,45);
    border: 2px solid rgb(69,67,67);
    border-radius: 3px;
}

